[submodule "themes/calligraphy"]
	path = themes/calligraphy
	url = https://github.com/pacollins/calligraphy.git
[submodule "themes/henry"]
	path = themes/henry
	url = git@github.com:kaushikgopal/henry-hugo.git
